.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  font-family: 'Poppins', sans-serif;
}

.card {
  background: linear-gradient(to bottom right, #6b73ff, #000dff);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 250px;
  max-width: 900px;
  height: 550px;
  text-align: center;
  margin: 10px auto;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.category-btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 800px;
  text-align: center;
  height: 150px;
}

.category-btn img {
  width: 40px;
  height: 40px;
}

.category-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

a {
  text-decoration: none;
}